.listContainer {
  background-color: #efefef;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.listHeader {
  height: 15vh;
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 1px 1px 10px #888888; */
}

.inputHeader {
  font-weight: 600;
  font-size: large;
  color: black;
}

.addTest {
  border-radius: 50%;
  display: flex;
  background: #00c0a7;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.cardTestContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

@media (min-width: 768px) {
  .cardTestContainer {
    margin-top: 3rem;
    gap: 2rem;
  }
  .listContainer {
    padding-bottom: 3rem;
  }
}
