@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem /* 16px */;
  padding-left: 1rem /* 16px */;
}
@media (min-width: 40rem /* 640px */) {
  .container {
    padding-right: 1rem /* 16px */;
    padding-left: 1rem /* 16px */;
  }
}
@media (min-width: 48rem /* 768px */) {
  .container {
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
  }
}
@media (min-width: 64rem /* 1024px */) {
  .container {
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
  }
}
@media (min-width: 80rem /* 1280px */) {
  .container {
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
  }
}
@media (min-width: 86rem /* 1376px */) {
  .container {
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
